#header {
  margin:auto;
  width: 50%;
  padding: 10px;
}
#info{
  position: fixed;
  bottom: 50px;
  right: 500px;
  height:250px;
  width: 500px;
  
}
#irohDiv {
  position:fixed;
  right:200px;
  bottom: 50px;
}
.irohPhoto {
  height:300px;
  width:300px;
  bottom: 100px;
}
.center {
  text-align: center;
}
#photoDiv {
  position: fixed;
  bottom: 0px;
  height: 300px;
  width: 300px;
}
#photo {
  height:200px;
  width: 300px;
}
#container {
  height: 90%;
  width: 90%;
  
}
body {
  font-family: 'Kanit', sans-serif;
  background-color: bisque;
  font-size: 22px;
  color:#515da2

}
img {
  width: 100px;
  height:100px
}
.container {
  padding: 1rem;
  width: stretch;
  height: auto;

  opacity: 1;
}

.add-tea-form {
  width: 300px;
}

.input-text {
  width:200px;
  padding:20px;
  margin: 10px 0;
  border-radius: 10px;

}
#firstchina {
  position:absolute;
  top: 90px;
  width: 200px;

}
#secondchina {
  position: absolute;
  top:90px;
  left:1300px;
}
#firstchinaphoto {
  width: 300px;
  height: 150px;
}