#header {
  margin:auto;
  width: 50%;
  padding: 10px;
}
#info{
  position: fixed;
  bottom: 50px;
  right: 500px;
  height:250px;
  width: 500px;
}
.center {
  text-align: center;
}
#photoDiv {
  position: fixed;
  bottom: 0px;
  height: 300px;
  width: 300px;
}
#photo {
  height:200px;
  width: 300px;
}
#container {
  height: 90%;
  width: 90%
}
body {
  font-family: 'Kanit', sans-serif;
  background-color: bisque;
  font-size: 22px;
  
}
img {
  width: 100px;
  height:100px
}
.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  background: #515da2;
  opacity: 1;
}

.add-tea-form {
  width: 300px;
}