#header {
  margin:auto;
  width: 50%;
  padding: 10px;
}
#info{
  position: fixed;
  bottom: 50px;
  right:300px;
  height:250px;
  width: 250px;
}
#center {
  text-align: center;
}
#container {
  height: 90%;
  width: 90%
}
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url(https://i.pinimg.com/originals/3f/a1/4f/3fa14f38a2d8c0871f890b0e0e636209.jpg);
}
img {
  width: 100px;
  height:100px
}
.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  background: #515da2;
  opacity: 1;
}

.add-tea-form {
  width: 300px;
}